@import 'https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css';

body {
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #1a202c;
}

footer {
    background-color: #1a202c;
}